RewriteEngine On

# Si le fichier ou le répertoire n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rediriger toutes les requêtes non existantes vers 404.php
RewriteRule ^ /404.php [L]
