/* GLOBAL */
.font-family-della-respira {
    font-family: "Della Respira", serif;
}

.font-family-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-regular {
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: 700;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}
