.font-family-della-respira {
    font-family: "Della Respira", serif;
}

.font-family-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-regular {
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.font-weight-bold {
    font-weight: 700;
}

.bg-gray {
    background-color: var(--color-gray);
}

.color-dark-blue {
    color: var(--color-dark-blue);
}

.fs-15px {
    font-size: 15px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 2;
}

@media screen and (min-width: 1310px) {
    .container {
        max-width: 1280px;
    }
}