:root {
    --color-primary: #FFC89A;
    --color-secondary: #E8D4FF;
    --color-background: #1F0D30;
    --color-gray: #EAEAEA;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* GLOBAL */
.font-family-della-respira {
    font-family: "Della Respira", serif;
}

.font-family-montserrat {
    font-family: "Montserrat", sans-serif;
}

.font-weight-light {
    font-weight: 300;
}

.font-weight-regular {
    font-weight: 400;
}

.font-weight-medium {
    font-weight: 500;
}

.font-weight-bold {
    font-weight: 700;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* CUSTOM */
.background-header {
    background-image: url('/portfolio_melchior/public/img/vinyle.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-center h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
