@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

:root {
    --color-primary: #FFC89A;
    --color-secondary: #E8D4FF;
    --color-background: #1F0D30;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: var(--color-background);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    padding: 20px;
}

.Melchior-title
{
    font-size: 36px;
    font-family: 'Della Respira', serif;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.Melchior-title:hover
{
    color: #FFC89A;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #FFC89A !important;
}

.hero {
    height: 100vh;
    background-image: url('/public/assets/vinyl.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 48px;
    font-family: 'Della Respira', serif;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
}
