@import "global.css";

:root {
    --color-primary: #FFC89A;
    --color-secondary: #E8D4FF;
    --color-dark-blue: #1F0D30;
    --color-gray: #EAEAEA;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* CUSTOM */
.background-header {
    background-image: url('/portfolio_melchior/public/img/vinyle.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.background-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.text-center h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    z-index: 2;
}

nav a:hover {
    text-decoration: underline;
}